<div class="container">
    <div class="row">
        <div class="col col-md-12">
            <table class=" table table-bordered">
                <thead>
                <tr>
                <th>Emp ID</th>
                <th>Emp Name</th>
                <th>Emp Phone</th>
               </tr>
            </thead>
            <tbody>
               <tr *ngFor="let empdis of empdisplay">
                   <td>{{empdis.employeeid}}</td>
                   <td>{{empdis.employeename}}</td>
                   <td>{{empdis.employeephone}}</td>
               </tr>
            </tbody>
            </table>
        </div>
    </div>
</div>
